.panda-info{
    background-color: #fceae8;
}
.categories img{
    width: 80px;
}
.panda-buy-now{
    background-color: #ff4d94;
    color: white;
    border-radius: 8px;
    padding: 9px 25px;
    border: none;
}